@import "./variables.scss";

body {
    background-color: $clr-200;
}

a {
    text-decoration: none;
    color: inherit;
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__item span {
        font-weight: $fw-semibold;
    }
}