@import "./variables.scss";

body {
    background-color: $clr-200;
}

a {
    text-decoration: none;
    color: inherit;
}

button , input{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
}

.details-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    &__item span {
        font-weight: $fw-semibold;
    }
}

.tag {
    background-color: $clr-100;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 1rem;

    &_small {
        min-width: 6rem;
        font-size: 0.75rem;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
    }

    &_big {
        width: 6.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
        
        @media (min-width: $tablet) {
            width: 8.5rem;
            font-size: 1rem;
        }
    }
}

.dark {
    color: $clr-100;
    background-color: $clr-800;

    .header {
        background-color: $clr-700;
    }

    .country-preview {
        background-color: $clr-700;
    }

    .filters-box {
        background-color: $clr-700;
        color: $clr-100;
    }

    .filters__name {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1111 9.77778H10.4L10.1333 9.51111C11.0222 8.53333 11.5556 7.2 11.5556 5.77778C11.5556 2.57778 8.97778 0 5.77778 0C2.57778 0 0 2.57778 0 5.77778C0 8.97778 2.57778 11.5556 5.77778 11.5556C7.2 11.5556 8.53333 11.0222 9.51111 10.1333L9.77778 10.4V11.1111L14.2222 15.5556L15.5556 14.2222L11.1111 9.77778ZM5.77778 9.77778C3.55556 9.77778 1.77778 8 1.77778 5.77778C1.77778 3.55556 3.55556 1.77778 5.77778 1.77778C8 1.77778 9.77778 3.55556 9.77778 5.77778C9.77778 8 8 9.77778 5.77778 9.77778Z' fill='white'/%3E%3C/svg%3E");
    }

    .filters__name::placeholder {
        color: $clr-100;
    }

    .filters__regions__input-dummy {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.45 3.45L6 6.9L2.55 3.45L1.5 4.5L6 9L10.5 4.5L9.45 3.45Z' fill='white'/%3E%3C/svg%3E");
    }

    .tag {
        background-color: $clr-700;
    }
}