@import "./variables.scss";

body {
    font-family: $ff-regular;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: $fw-light;
    color: $clr-900;

    @media (min-width: $tablet) {
        font-size: 1rem;
    }
}