@import "../../styles/variables.scss";

.filters {
    margin: 1.5rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem 0;
    }

    &-box {
        background-color: $clr-100;
        border-radius: 5px;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
        padding-inline: 1.5rem 1.188rem;
    }

    &__name {
        padding: 0.875rem 1rem 0.875rem 4.625rem;
        line-height: 1.25rem;
        font-size: 0.875rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.1111 9.77778H10.4L10.1333 9.51111C11.0222 8.53333 11.5556 7.2 11.5556 5.77778C11.5556 2.57778 8.97778 0 5.77778 0C2.57778 0 0 2.57778 0 5.77778C0 8.97778 2.57778 11.5556 5.77778 11.5556C7.2 11.5556 8.53333 11.0222 9.51111 10.1333L9.77778 10.4V11.1111L14.2222 15.5556L15.5556 14.2222L11.1111 9.77778ZM5.77778 9.77778C3.55556 9.77778 1.77778 8 1.77778 5.77778C1.77778 3.55556 3.55556 1.77778 5.77778 1.77778C8 1.77778 9.77778 3.55556 9.77778 5.77778C9.77778 8 8 9.77778 5.77778 9.77778Z' fill='%23B2B2B2'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 2rem 50%; 

        @media (min-width: $tablet) {
            width: 480px;
        }
    }

    &__regions {
        font-size: 0.75rem;
        line-height: 1rem;
        width: 200px;
        display: flex;
        flex-direction: column;
        position: relative;

        &__input-hidden {
            display: none;
            pointer-events: none;
        }

        &__input-dummy {
            padding-block: 0.875rem;
            line-height: 1.25rem;
            text-align: left;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.875 2.875L5 5.75L2.125 2.875L1.25 3.75L5 7.5L8.75 3.75L7.875 2.875Z' fill='black'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 1.188rem top 50%;

            & + div {
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 300ms;
                position: absolute;
                top: calc(100% + 4px);
                width: 100%;
            }

            & + div > div {
                overflow: hidden;
            }

            &_open + div {
                grid-template-rows: 1fr;
            }
        }

        &__options {
            padding-block: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            overflow: hidden;

            &-item {
                text-align: left;
            }
        }
    }
}
